
<div class="container mt-5">
	<form name="form" method="post">
		<div class="form-group">
			<label for="nom">Nom</label>
			<input id="inputNom" value="{{ produit.nom|default('') }}" name="nom" type="text" class="form-control"  aria-describedby="nom" placeholder="Entrez nom" pattern="[a-zA-Z0-9 ]+" required>
		<div class="alert alert-danger collapse" id="nom">
			Remplir le nom
			</div>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input id="inputDesc" value="{{ produit.description|default('') }}" name="description" type="text" class="form-control" id="description" placeholder="Description" required>
			<div class="alert alert-danger collapse" id="desc">
			Remplir la description
			</div>
		</div>
		<div class="form-group">
			<label for="prix">Prix</label>
			<input id="inputPrix" value="{{ produit.prix|default('') }}" name="prix" type="text" class="form-control"  placeholder="Prix" pattern="[0-9]+.?[0-9]+" required>
		<div class="alert alert-danger collapse" id="prix">
			Remplir le prix
		</div>
		<div class="alert alert-danger collapse" id="prixNot">
		Prix  doit  etre un entier
		</div>
		</div>
		<div class="form-group">
			<label for="quantite">Quantité</label>
			<input id="inputQuantite" value="{{ produit.quantite|default('') }}" name="quantite" type="text" class="form-control" placeholder="Quantité" pattern="[0-9]+" required>
			<div class="alert alert-danger collapse" id="quantite">
			Remplir la quantite
			</div>
			<div class="alert alert-danger collapse" id="quantiteNot">
			Quantite  doit  etre un entier
			</div>
		</div>
		<div class="form-group">
			<select name="categorie" class="custom-select">
				{% for categorie in categories %}
				<option value="{{categorie.id}}" {{ produit.categorie.id|default('') == categorie.id ? 'selected' : '' }}>{{categorie.nom}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<button id="id" name="{{ button_label|default('Ajouter') }}" class="btn {{ btn_type|default('btn-primary') }}">{{ button_label|default('Ajouter') }}</button>
            <a href="{{ path('produits') }}" class="btn btn-outline-success">Retour à la liste</a>
		</div>
	</form>
</div>