{% extends 'module1/base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}

<div class="container">
<h1>Categories</h1>
<br>
  {% for message in app.flashes('success') %}
      <div class="alert alert-success" role="success">
          {{ message }}
          </div>
  {% endfor %}
  {% for message in app.flashes('alert') %}
      <div class="alert alert-danger" role="alert">
          {{ message }}
          </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
      <div class="alert alert-warning">
          {{ message }}
          </div>
  {% endfor %}

<div class="alert alert-warning collapse" id="cannot">
 Attention Categorie associe à un produit !!
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Categorie</th>
      <th scope="col" colspan="2">Actions</th>
      <th scope="col" >Produits</th>
    </tr>
  </thead>
<tbody style="background-color:#dadada;">
{% for cat in categories %}
<tr>
<tr>
<th scope='row'>{{ cat.id|e }}</th>
<td>{{ cat.nom|e }}</td>
<td><a href='{{ path('categorie_edit', {'id': cat.id}) }}' ><button type='button' class='btn btn-warning'>Modifier</button></a></td>
<td><a class='btn btn-danger' data-toggle="modal" data-target="#deleteModal{{cat.id}}">Supprimer</a>
{{ include('module1/categorie/deleteAlert.html.twig') }}
</td>
<td>
<div style='vertical-align: top;text-align: center; display: inline;'>
{% for prod in cat.produits %}
  {% if prod.categorie.id == cat.id %}
    <img src='{{prod.image}}'  style='width:65px ; height:85px;' />
    <div style='display:inline-block;' class='btn btn-link' data-toggle='modal' data-target='#exampleModal'>{{prod.nom}}</div>
  {% endif %}
  {% endfor %}
<div>
</td>
</tr>

{% endfor %}
</table>
<center><a href="{{ path('categorie_new') }}" ><button type='button' class='btn btn-primary'>Ajouter</button></a>
</div>
{% endblock %}
