{{ form_start(form) }}
    
    {{ form_row(form.nom,  {'label_attr': {'class': 'text-black'}, 'attr' : {'placeholder' : "Nom de la catégorie"}}) }}
    <button class="btn {{ btn_type|default('btn-primary') }}">{{ button_label|default('Ajouter') }}</button>
    <a href="{{ path('categories') }}" class="btn btn-outline-success">Retour à la liste</a>
    
{{ form_end(form) }}
